/* .devider{
    width: 100%;
    border: 1px solid #9d9999;
}

.product-info-page-info-list{
    list-style: none;
    padding: 0;
}

.product-info-page-info-list li{
    margin: 5px 0;
}

.admin-product-show-image img{
    width: 100%;
}

.tabel-responsive{
    display: block;
    overflow-x: auto;
    width: 100%;
}

.gallery-item-delete{
    position: absolute;
    top: 0;
    right: 11px;
    background: red;
    color: #fff;
    padding: 4px;
    border-radius: 3px;
}

.border-devider{
    border-bottom: 2px solid #9c27b069;
    padding-bottom: 15px;
} */
