.product-wrap-card {
    position: relative;
}

.product-image-card{
    display: block;
    width: 100%;
}

.product-image-card-additional{
    display: none;
}

.product-wrap-card:hover .product-image-card{
    display: none;
}

.product-wrap-card:hover .product-image-card-additional{
    display: block;
    width: 100%;
}

.product-link{
    text-decoration: none;
    color: black;
}

.product-link:hover{
    color: rgb(87, 87, 87);
}

.product-cross-price{
    position: relative;
    color: rgb(98 98 98);
}

.product-cross-price:after{
    content: '';
    position: absolute;
    border-bottom: 1px solid black;
    width: 100%;
    left: -2px;
    top: 55%;
}

.product-price{
    font-size: 18px;
}


.category-list{
    padding: 0;
    list-style: none;
    background-color: #f3f3f3;
}

.category-item{
    font-size: 18px;
}

/* .all-link{
    font-size: 18px;
} */

.category-list-element:hover,
.category-item:hover{
    background-color: #686868;
}

.category-list-link{
    text-decoration: none;
    color: #383636;
    display: block;
    padding: 5px 15px;
    overflow: hidden;
    white-space: nowrap;
}

.category-list-link:hover{
    color: #fff;
    transition: 0.3s;
}

/* Pagination */

.pagination{
    display: flex;
    flex-wrap: wrap;
}


/* add to Cart */
.add-to-cart{
    padding: 15px 0;
}

.add-to-cart-button-wrap{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.add-to-cart-button{
    width: 60%;
    border-radius: 3px;
    color: #fff;
    background-color: black;
}

.add-to-cart-button:hover{
    background-color: #bbbbbb!important;
}

.product-show-link-to-card{
    width: 35%;
    border-radius: 3px;
    color: #fff;
    background-color: black;
}

.product-show-link-to-card:hover{
    background-color: #bbbbbb!important;
}

/* Cart */

.order-summary-wrap{
    position: fixed;
    text-align: center;
    padding: 50px;
    background: antiquewhite;
}

/* @media (max-width: 1399px){
    .product-wrap-card:hover .product-image-card-additional {
        max-height: 320px;
    }


}

@media (max-width: 1199px){
    .product-wrap-card:hover .product-image-card-additional {
        display: none;
    }

} */

@media (max-width: 991px){
    .order-summary-wrap{
        display: none;
    }

    .order-summary-bottom{
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        text-align: center;
        padding: 50px;
        background: antiquewhite;
    }
}
