body{
    /* font-family: Avenir LT W85 Heavy,Avenir LT W01_85 Heavy1475544,Helvetica Neue,Helvetica,Arial,sans-serif; */
    font-family: Avenir LT W45 Book,Avenir LT W01_45 Book1475508,Helvetica Neue,Helvetica,Arial,sans-serif;

}
.product-wrap-card {
    position: relative;
}

.product-image-card{
    display: block;
    width: 100%;
}

.product-image-card-additional{
    display: none;
}

.product-wrap-card:hover .product-image-card{
    display: none;
}

.product-wrap-card:hover .product-image-card-additional{
    display: block;
    width: 100%;
}

.product-link{
    text-decoration: none;
    color: black;
}

.product-link:hover{
    color: rgb(87, 87, 87);
}

.product-cross-price{
    position: relative;
    color: rgb(98 98 98);
}

.product-cross-price:after{
    content: '';
    position: absolute;
    border-bottom: 1px solid black;
    width: 100%;
    left: -2px;
    top: 55%;
}

.product-price{
    color: red;
    font-weight: 600;
    font-size: 18px;
}

.product-sale-percent{
    color: red;
    font-weight: 600;
}

.price-ws{
    font-weight: 600;
    font-size: 18px;
}

.category-list{
    padding: 0;
    list-style: none;
    background-color: #f3f3f3;
}

.category-item{
    font-size: 18px;
}

.cleare-cart{
    background: #818080;
    color: #fff;
    border-radius: 3px;
}

.cleare-cart:hover{
    background-color: black!important;
    color: #fff!important;
    transition: 0.3s;
}
/* .all-link{
    font-size: 18px;
} */

.category-list-element:hover,
.category-item:hover{
    /* background-color: #686868; */
}

.category-list-link{
    text-decoration: none;
    color: #383636;
    display: block;
    padding: 5px 15px;
    overflow: hidden;
    white-space: nowrap;
}

.category-list-link:hover{
    /* color: #fff; */
    /* transition: 0.3s; */
}

.category-list-link-active{
    font-weight: 600;
    color: black;
}

/* Pagination */

.pagination{
    display: flex;
    flex-wrap: wrap;
}

/* Show page */
.carousel-wrap{
    padding: 0 70px;
}

.description ul{
    list-style: none;
    padding: 0;
}

.description li{
    padding: 5px 0;
}

.product-categories-links{
    list-style: none;
    padding: 0;
}

.product-categories-links li{
    padding:5px 0;
}

.product-categories-links a{
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.product-categories-links a:hover{
    color: #686868;
    transition: 0.3s;
}

.show-old-price-cross{
    color: #686868;
    text-decoration: line-through;
}

.show-product-sale{
    color: red;
    font-weight: 600;
}

.show-price{
    color: red;
    font-weight: 600;
    font-size: 18px;
}

.show-price-ws{
    font-weight: 600;
    font-size: 18px;
}

/* add to Cart */
.add-to-cart{
    padding: 15px 0;
}

.add-to-cart-button-wrap{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.add-to-cart-button{
    width: 60%;
    border-radius: 3px;
    color: #fff;
    background-color: black;
}

.add-to-cart-button:hover{
    background-color: #bbbbbb!important;
}

.product-show-link-to-card{
    width: 35%;
    border-radius: 3px;
    color: #fff;
    background-color: black;
}

.product-show-link-to-card:hover{
    background-color: #bbbbbb!important;
}

/* Cart */

.order-summary-wrap{
    width: 22%;
    position: fixed;
    text-align: center;
    padding: 50px;
    background: #f2f2f2;
}

.link-to-pick-ticket{
    text-decoration: none;
    color: black;
}

.link-to-pick-ticket:hover{
    color: #686868;
    transition: 0.3s;
}

.savings{
    font-size: 18px;
}

.order-link{
    padding: 15px;
    background-color: black;
}

.order-summary-bottom{
    display: none;
}

.order-link-small a,
.order-link a{
    color: #fff;
    text-decoration: none;
}

@media (max-width: 1399px){
    /* .product-wrap-card:hover .product-image-card-additional {
        max-height: 320px;
    } */

    .order-summary-wrap{
        width: 31%;
    }


}

/*
@media (max-width: 1199px){
    .product-wrap-card:hover .product-image-card-additional {
        display: none;
    }

} */

@media (max-width: 991px){
    .order-summary-wrap{
        display: none;
    }

    .order-summary-bottom{
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        text-align: center;
        padding: 50px;
        background: antiquewhite;
    }

    .carousel-wrap{
        padding: 0;
    }
}
